In [1]:
import pandas as pd

In [2]:
listing = pd.read_csv('source/listings.csv')

In [3]:
listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6461 entries, 0 to 6460
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              6461 non-null   int64
 1   name                            6461 non-null   object
 2   host_id                         6461 non-null   int64
 3   host_name                       6461 non-null   object
 4   neighbourhood_group             6461 non-null   object
 5   neighbourhood                   6461 non-null   object
 6   latitude                        6461 non-null   float64
 7   longitude                       6461 non-null   float64
 8   room_type                       6461 non-null   object
 9   price                           6431 non-null   float64
 10  minimum_nights                  6461 non-null   int64
 11  number_of_reviews               6461 non-null   int64
 12  last_review                     5555 non-null   object
 13  reviews_per_month               5555 non-null   float64
 14  calculated_host_listings_count  6461 non-null   int64
 15  availability_365                6461 non-null   int64
 16  number_of_reviews_ltm           6461 non-null   int64
 17  license                         3231 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 908.7+ KB

In [4]:
reviews = pd.read_csv('source/reviews.csv')

In [5]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303044 entries, 0 to 303043
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     303044 non-null  int64
 1   id             303044 non-null  int64
 2   date           303044 non-null  object
 3   reviewer_id    303044 non-null  int64
 4   reviewer_name  303044 non-null  object
 5   comments       303028 non-null  object
dtypes: int64(3), object(3)
memory usage: 13.9+ MB

In [6]:
reviews['comments'] = reviews['comments'].str.replace(',', ';', regex=False)
reviews['comments'] = reviews['comments'].str.replace('<br/>', '', regex=False)
reviews['comments'] = reviews['comments'].str.replace(r'[\r\n]+', '', regex=True)

In [7]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,132068,297597,2011-06-04,182987,Irina,Mikel's place was outrageous; a perfect combin...
1,132068,12519461,2014-05-04,5175212,Philippine & Grégoire,Mikel appartment is exactly as it is described...
2,132068,12600130,2014-05-05,2789268,Alvaro,La experiencia en el apartamento de Mikel fue ...
3,132068,13253988,2014-05-23,298828,Mayte,Mikel Es una persona amable; el aspartamento e...
4,132068,13294951,2014-05-24,7736822,Kaela,Absolutely wonderful apartment. Mikel was very...